name: ring_camera_example
description: Example Flutter app demonstrating ring_camera package usage
version: 0.1.0
publish_to: 'none'

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  ring_camera:
    path: ../../
  cupertino_icons: ^1.0.8
  flutter_dotenv: ^5.2.1
  logging: ^1.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - ./.env
